<template>
    <v-layout column>
    <v-flex xs12 class="text-xs-center" mx-2>
      <v-card flat>
        <v-card-title class="headline font-weight-regular blue-grey white--text"> Education </v-card-title>
        <v-card-text>
          <v-timeline>
      <v-timeline-item
        v-for="(year, i) in qual"
        :key="i"
        :color="year.color"
        small
      >
        <template v-slot:opposite>
          <span
            :class="`headline font-weight-bold ${year.color}--text`"
            v-text="year.year"
          ></span>
        </template>
        <div class="py-3">
          <h2 :class="`headline font-weight-light mb-3 ${year.color}--text`"> {{ year.study }} </h2>
          <h3> {{ year.college }} </h3>
          <h3>
          {{ year.score }}
          </h3>
        </div>
      </v-timeline-item>
    </v-timeline>
        </v-card-text>
      </v-card>
    </v-flex>
    <v-flex xs12 class="text-xs-center" mt-2 mx-2>
      <v-card flat>
        <v-card-title class="headline font-weight-regular blue-grey white--text">Work Experiance</v-card-title>
        <v-card-text>
          <v-subheader class="pa-0"> {{ workText }} </v-subheader>
        
            <v-timeline>
      <v-timeline-item
        v-for="(year, i) in years"
        :key="i"
        :color="year.color"
        small
      >
        <template v-slot:opposite>
          <span
            :class="`headline font-weight-bold ${year.color}--text`"
            v-text="year.year"
          ></span>
        </template>
        <div class="py-3">
          <h2 :class="`headline font-weight-light mb-3 ${year.color}--text`"> {{ year.org }} </h2>
          <h3> {{ year.desg }} </h3>
          <div>
          {{ year.work }}
          </br>
          </br>
            <li v-for="pro in year.proj_list">
              {{ pro.project }}
            </li>
          </div>
        </div>
      </v-timeline-item>
    </v-timeline>
      </v-card-text>
      </v-card>
    </v-flex>
    <v-flex xs12 class="text-xs-center" mt-2 mx-2>
      <v-card flat>
        <v-card-title class="headline font-weight-regular blue-grey white--text"> Projects </v-card-title>
        <v-card-text>
          <v-subheader class="pa-0"> {{ projText }} </v-subheader>
          <v-timeline
          align-top
          dense
        >
          <v-timeline-item
            v-for="(proj, i) in proj"
            :key="i"
            :color="proj.color"
            small
          >
            <h2 :class="`headline font-weight-light mb-3 ${proj.color}--text`"> {{ proj.name }} </h2>
            <v-container fluid grid-list-md>
      <v-layout row wrap>
        <v-flex d-flex xs12 sm6 md4>
          <v-card color="purple" dark>
            <v-card-title primary class="title">About</v-card-title>
            <v-card-text>
              <p class="text-sm-left"> {{ proj.desc }} </p> 
            </v-card-text>
          </v-card>
        </v-flex>
        <v-flex d-flex xs12 sm6 md3>
          <v-layout row wrap>
            <v-flex d-flex>
              <v-card color="indigo" dark>
                <v-card-text> Team Size: {{ proj.team_size }}</v-card-text>
              </v-card>
            </v-flex>
            <v-flex d-flex>
              <v-layout row wrap>
                <v-flex
                  v-for="n in 1"
                  :key="n"
                  d-flex
                  xs12
                >
                  <v-card
                    color="red lighten-2"
                    dark
                  >
                    <v-card-text> Duration: {{ proj.duration }}</v-card-text>
                  </v-card>
                </v-flex>
              </v-layout>
            </v-flex>
          </v-layout>
        </v-flex>
        <v-flex d-flex xs12 sm6 md2 child-flex>
          <v-card color="green lighten-2" dark>
            <v-card-title primary class="title">Clients</v-card-title>
            <v-card-text>
              {{ proj.client }}
            </v-card-text>
          </v-card>
        </v-flex>
        <v-flex d-flex xs12 sm6 md3>
          <v-card color="blue lighten-2" dark>
            <v-card-title primary class="title">Skills/Tools</v-card-title>
            <v-card-text class="text-sm-left">
              <li v-for="skill in proj.skills"> {{ skill.skill }} </li>
            </v-card-text>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
    
    
    
            <v-container fluid grid-list-md>
            <v-layout row>
              <v-flex >
                </br>
                <p> {{ proj.overview }} </p>
                <div v-for="work in proj.contribution">
                </br>
                <p> <strong>{{ work.work_subhead }}</strong>  </p>
                  <li v-for="task in work.tasks">
                    {{ task.task }}
                  </li>
                </div>
              </v-flex>
            </v-layout>
            </v-container>
          </v-timeline-item>
        </v-timeline>
        </v-card-text>
      </v-card>
    </v-flex>
    <v-flex xs12 class="text-xs-center" mx-2>
      <v-card flat>
        <v-card-title class="headline font-weight-regular blue-grey white--text"> Personal details </v-card-title>
        <v-card-text>
          <p><strong> DOB: </strong>{{ pdetail.dob }} </p>
          <p><strong> Father Name: </strong>{{ pdetail.father }} </p>
          <p><strong> Hometown: </strong>{{ pdetail.hometown }} </p>
          <p><strong> Current City: </strong>{{ pdetail.ccity }} </p>
          <p><strong> Email: </strong>{{ pdetail.email }} </p>
        </v-card-text>
      </v-card>
    </v-flex>
    </v-layout>
</template>

<script>

export default {
  data () {
    return {
      workText: 'I have 5 years of experience in development in networking domain. My most of the work was in user space. Below is the timeline of my work with organisations:',
      qualText: 'qualification data',
      projText: 'Below is the list of projects that I have worked on with summary of my activities:  ',
      pdetail:
        {
          dob: '04-09-1992',
          father: 'Bhupinder Singh',
          hometown: 'Amritsar, Punjab',
          ccity: 'Noida, UP',
          email: 'singh.gagan@outlook.in'
        },
      years: [
      {
        color: 'orange',
        year: '2014 - 2016',
        desg: 'Software Engineer',
        org: 'Freescale Semiconductor',
        work: 'During the service, I was involved in Ethernet features implementation and bug fixes on Freescale SoCs. I worked on both kernel space and userspace space projects. Those projects are below:',
        proj_list: [
          { project: 'Network Applications Development Kit (NADK - Freescale Proprietary Project)' },
          { project: 'Application Specific Fastpath (ASF - Freescale Proprietary kernel Space Project)' }
        ]
      },
      {
        color: 'cyan',
        year: '2016-2019',
        desg: 'Sr. Software Engineer',
        org: 'NXP Semiconductors',
        work: 'During the service, I was involved in implement various Ethernet drivers and upstream some of them apart of many bug fixes. I worked on NXP HW, simulation and emulation environment. Below are the major projects in which I have contributed:',
        proj_list: [
          { project: 'Data Plane Development Kit (DPDK)' },
          { project: 'Open Data Plane (ODP)' },
          { project: 'Vector Packet Processing (VPP)' }
        ]
      }
    ],
    proj: [
      {
        name: 'Data Plane Development Kit (DPDK)',
        team_size: '6',
        duration: '1.5 years',
        client: 'open source',
        skills: [
          { skill: 'C language' },
          { skill: 'GNU debugger' },
          { skill: 'perf' },
          { skill: 'Simulator and Emulator'},
          { skill: 'Spirent Test Center, IXIA' },
          { skill: 'Gcov' },
          { skill: 'Wireshark' }
        ],
        color: 'orange',
        desc: 'DPDK is an Open Source Data Plane Development Kit that consists of libraries to accelerate packet processing workloads running on a wide variety of CPU architectures.',
        overview: 'I was involved in design and implement two ethernet drivers and one crypto driver for NXPs network SoCs. Also, I have contributed in performance optimisations and enable features in ethernet drivers on customers demands. I have also worked in pre-silicon environment includes implement and verification of Ethernet drivers on simulator and emulator.',
        contribution: [
          { work_subhead: 'Below are some features that I have implemented during my job :' ,
            tasks: [
              { task: 'Driver probing, intialisation/un-intialisation' },
              { task: 'Rx/Tx queues setup' },
              { task: 'MTU, promiscuous, multicast support' },
              { task: 'CRC, checksum, RSS hash offloads' },
              { task: 'Performance Optimisations' }
            ]
          },
          { work_subhead: 'Upstream Activities:',
            tasks: [
              { task: 'Ethernet driver: ENETC.' },
              { task: 'Crypto driver: CAAM_JR' }
            ]
          }
        ]
      },
      {
        name: 'Open Data Plane (ODP)',
        team_size: '5',
        duration: '2 years',
        client: 'open source',
        skills: [
          { skill: 'C language' },
          { skill: 'GNU debugger' },
          { skill: 'Spirent Test Center, IXIA' },
          { skill: 'Wireshark' },
          { skill: 'Gcov' }
        ],
        color: 'cyan',
        desc: 'Open Data Plane (ODP) is an open-source project which defines application programming interfaces (APIs) for portable high performance data plane applications.',
        overview: 'During this project, I was involved in features implementation for NXPs network SoCs apart of many bug fixes. My Major contribution was in enablement of Scheduler Groups and Multi-Buffer pools features.', 
        contribution: [
          { work_subhead: 'I was involved in below activities :' ,
            tasks: [
              { task: 'Multi Buffer pool support' },
              { task: 'Scheduler Groups support' },
              { task: 'Timer Support' },
              { task: 'Interrupts Coalescing' },
              { task: 'Bug fixes' },
              { task: 'Performance Optimisations' }
            ]
          }
        ]
      },
      {
        name: 'Network Application Development kit (NADK)',
        team_size: '6',
        color: 'teal',
        duration: '8 months',
        client: 'Freescale Semiconductor',
        skills: [
          { skill: 'C language' },
          { skill: 'GNU debugger' },
          { skill: 'Spirent Test Center' },
          { skill: 'Wireshark' },
          { skill: 'Gcov' }
        ],
        desc: 'It is a user space Linux based framework which provide programming interfaces to write network applications over Freescale SoCs',
        overview: 'During this project,  I was involved in Unit testing and a developed a sanity unit test framwork purely in shell script to reduce the testing time.',
        contribution: [
          { work_subhead: 'Below were some tasks :' ,
            tasks: [
              { task: 'Developed a loopback shell script to auto test all NADK applications without external traffic.' },
              { task: 'Unit testing' },
              { task: 'Internal releases support' }
            ]
          }
        ]
      },
      {
        name: 'Application Specific Fastpath (ASF)',
        team_size: '6',
        color: 'blue',
        duration: '8 months',
        client: 'EDW, Cisco, Samsung',
        skills: [
          { skill: 'C language' },
          { skill: 'Spirent Test Center' },
          { skill: 'Wireshark' }
        ],
        desc: 'It is a Linux Kernel module (Dynamically and statically loadable) to enhance data path processing for IPv4/IPv6 forwarding/firewall use cases over Freescale specific network SoCs. This module is tightly coupled with Linux network stack to receive network configuration. Module has two major components, first control module which is designed to interact with Linux Network stack and second which is designed to forward data traffic as per the network configuration.',
        overview: 'I mainly worked on bug fixes and involved in customer support activities.',  
        contribution: [
          { work_subhead: 'Below are some of those activities :' ,
            tasks: [
              { task: 'Customer support' },
              { task: 'Namespaces support' },
              { task: 'bug fixes' }
            ]
          }
        ]
      },
      {
        name: 'Vector Packet Processing (VPP)',
        team_size: '2',
        duration: '6 months',
        color: 'green',
        client: 'open source',
        skills: [
          { skill: 'C language' },
          { skill: 'GNU debugger' },
          { skill: 'Spirent Test Center' },
        ],
        desc: 'It is the open source version of Cisco Vector Packet Processing (VPP) technology: a high performance, packet-processing stack that can run on commodity CPUs.',
        overview: 'My main task was to support VPP using DPDK plugin over NXPs SoCs',
        contribution: [
          { work_subhead: 'I was involved in below activities :' ,
            tasks: [
              { task: 'Integrated DPDK driver/plugin for NXPs SoCs' },
              { task: 'customer support' }
            ]
          }
        ]
      },
      {
        name: 'vitroots.com',
        team_size: '2',
        duration: '6 months',
        color: 'pink',
        skills: [
          { skill: 'Python language' },
          { skill: 'Chrome Inspection Tools' },
          { skill: 'MySQL' },
          { skill: 'Vuejs' },
          { skill: 'Vuetify Framework' },
        ],
        client: 'vitroots.com',
        desc: 'vitroots.com is a single page web application to analyse options for trading.',
        overview: 'This is a personal project, currently it is in its initial phase. I am involved in complete SDLC for this project.',
        contribution: ''
      }
    ],
    qual: [
      {
        color: 'green',
        year: '2008',
        study: 'Matriculation',
        college: 'B.D.S. day boarding school affiliated to PSEB, Amritsar',
        score: '86.4%'
      },
      {
        color: 'blue',
        year: '2008 - 2011',
        study: 'Diploma in CSE',
        college: 'Thapar Polytechnic college affiliated to PSBTE&IT, Patiala',
        score: '73.5%' 
      },
      {
        color: 'teal',
        year: '2011 - 2014',
        study: 'Bachelor of Engineering (B.E.) in CSE',
        college: 'Thapar University, Patiala',
        score: '8.5 CGPA'
      }
    ]
    }
  }
}
</script>
