<template>
  <div id="app">
    <v-app id="inspire">
      <v-navigation-drawer app>
        <v-img :aspect-ratio="16/9" :src="require('@/assets/profile-picture.jpg')">
	<v-layout pa-2 column fill-height class="lightbox white--text">
            <v-spacer></v-spacer>
            <v-flex shrink>
              <div class="subheading"> {{ prof_name }} </div>
            </v-flex>
          </v-layout>
        </v-img>
        <v-list>
          <v-list-tile
            to="/"
          >
            <v-list-tile-action>
              <v-icon>home</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              Home
            </v-list-tile-content>
         </v-list-tile>
	     <v-divider></v-divider>
         <v-list-group
           v-for="item in items"
           :key="item.title"
           v-model="item.active"
           no-action
          >
            <template v-slot:activator>
              <v-list-tile>
                <v-list-tile-content>
                  <v-list-tile-title class="green--text text--darken-3">{{ item.title }}</v-list-tile-title>
                </v-list-tile-content>
              </v-list-tile>
            </template>

            <v-list-tile
              v-for="subItem in item.items"
              :key="subItem.title"
              @click=""
	    >
              <v-list-tile-content>
                <v-list-tile-title>
                 <a v-if="subItem.linkadd === 'true'" :href="`mailto:${subItem.link}`">
                  {{ subItem.title }}
                  </a>
                  <p v-else-if="subItem.linkadd">
                    {{ subItem.title }}
                  </p>
                 </v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
	    </v-list-group>
        </v-list>
      </v-navigation-drawer>
    <v-toolbar
        app
        color="blue-grey lighten-3"
	    dense
      >
      <v-flex class="display-1 font-weight-light text-xs-center">
	 {{ prof_name }}
      </v-flex>
	<template v-slot:extension>
        <v-flex class="headline text-xs-center">
	   {{ profession }}
	</v-flex>
	</template>
    </v-toolbar>
    <v-content>
      <router-view/>
    </v-content>
    </v-app>
  </div>
</template>

<script>
export default {
  name: 'App',
  data () {
    return {
        prof_name: 'Gagandeep Singh',
	    profession: 'Sr. Software Engineer',
        items: [
        {
          action: 'Contact',
          title: 'Contact',
	  active: true,
          items: [
            { title:'singh.gagan@outlook.in', icon:'email', link: 'singh.gagan@outlook.in', linkadd: 'true' },
	        { title:'09779552820', icon:'phone', linkadd: 'false'}
          ]
        },
        {
          action: 'Plang',
          title: 'Programming Languages',
          active: true,
          items: [
            { title: 'C, vuejs', linkadd: 'false' },
          ]
        },
        {
          action: 'Opentool',
          title: 'Open Source Tools',
          active: true,
          items: [
            { title: 'git, gdb, gerrit, gcov', linkadd: 'false' },
            { title: 'Atlassian products', linkadd: 'false' }
          ]
        },
        {
          action: 'Ttools',
          title: 'Testing Tools',
          active: true,
          items: [
            { title: 'Spirent, IXIA, Wireshark', linkadd: 'false' },
            { title: 'perf', linkadd: 'false' }
          ]
        },
        {
          action: 'Nprotocols',
          title: 'Networking Protocols',
          active: false,
          items: [
            { title: 'Linux Networking stack', linkadd: 'false' }
          ]
        },
        {
          action: 'Familiar',
          title: 'Familiar With',
          active: true,
          items: [
            { title: 'Agile scrum Methodology', linkadd: 'false' },
            { title: 'python', linkadd: 'false' },
            { title: 'Mysql', linkadd: 'false' },
            { title: 'Vuetify Framework', linkadd: 'false' },
            { title: 'amcharts', linkadd: 'false' }
          ]
        }
	]
    }
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
